h1{
     
        font-family: "Calistoga", serif;
        font-weight: 400;
        font-style: normal;
    
}
h2{
 
  font-family: "Pontano Sans", sans-serif;
  font-optical-sizing: auto;
  font: weight 400px;;
  font-style: normal;
}
p {
    
        font-family: "Sorts Mill Goudy", serif;
        font-weight: 400;
        font-style: normal;
        color:darkslategray;
    
      }
.img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 20%;
  height: 280px;
  margin: 10px;
  padding: 2px;

}

